transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge-score
py7zr
pandas
nltk
tqdm
pyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3

python-box==7.1.1
ensure==1.0.4

fastapi==0.111.0
uvicorn==0.30.1
jinja2==3.1.4

-e .
